.signInWrapper {
    height: calc(100vh - 146px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signInForm {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 4px var(--secondary-background-color);
}

.signInForm button {
    align-self: center;
    margin: 60px 0 10px 0;
}

.formHeading {
    text-align: center;
}

.formLabel {
    margin: 20px 0 5px 0;
}

.signInButton {
    width: 30%;
    height: 39px;
    border: 2px solid var(--secondary-background-color);
    border-radius: 20px;
    background: var(--primary-background-color);
}

.signInButton:hover {
    cursor: pointer;
    background: var(--secondary-background-color);
    color: white;
    transition: 0.2s;
}

.switchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchWrapper a {
    color: var(--secondary-background-color-color)
}

.switchWrapper a:hover {
    color: var(--primary-text-color)
}

.switchWrapper button {
    height: 39px;
    border: 2px solid var(--secondary-background-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: var(--primary-background-color);
    margin: 0;
}

.switchWrapper button:hover {
    cursor: pointer;
    background: var(--secondary-background-color);
    color: white;
    transition: 0.2s;
}

.switch {
    padding: 10px;
    color: var(--primary-text-color);
    background: var(--secondary-background-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}